body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 191, 254);
}

header {
    background-color: rgba(158, 68, 145, 0.5);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 50;
    padding: 5px;
    text-align: center;
    border-bottom: 3px solid black;
    
      }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
  
    
    
}

h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

section{
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}


.lead {
    background: rgb(255, 255, 255);
}

#bern { 
    background-color: rgb(0, 0, 0);
}

#nachhaltigkeit {
    background-color: rgb(0, 0, 0);

}

#sport {
    background-color: rgb(0, 0, 0);
}

.ressort{ 
    padding: 5px;
    margin: 5px;
    border-radius: 2px;

}

#bern_titel {
    animation: blink 1s infinite, rotate 2s linear infinite, rainbow 5s linear infinite;
    font-size: 50pt;

}
  
  @keyframes rotate {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }


  @keyframes blink {
    0%, 50%, 100% { opacity: 100; }
    25%, 75% { opacity:0; }
  }

  @keyframes rainbow {
    0% {
        color: rgb(0, 170, 255);
    }
    14% {
        color: rgb(0, 81, 255);
    }
    28% {
        color: rgb(60, 60, 5);
    }
    42% {
        color: rgb(20, 78, 20);
    }
    57% {
        color: blue;
    }
    71% {
        color: indigo;
    }
    85% {
        color: violet;
    }
    100% {
        color: red;
    }
  }